# Copyright (c) 2026 erik <erik@erik.xyz> — https://erik.xyz
parameters:
    level: 5
    paths:
        - app/
        - support/
    excludePaths:
        - app/process/*
        - app/queue/*
        - support/bootstrap.php
